.heading {
  // background-color: lightgreen;
   text-align: center;
   .title {
      display: inline-block;
      position: relative;
      font-family: monospace;
   }
   .title::before, .title::after {
   content:' ';
    display: block;
    position: absolute; top:50%; left:-120px;
    width: 100px; /* 100px line on either side */
    border-bottom:1px solid #FFF;
   }
   .title::after {
      left:auto; 
      right:-120px;
   }
}